<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Tracing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    font-weight:bold;
}
.section-one{
  background-color: #000000 !important;
  color:#EFC75E !important;
}
.title{
  background-color: #1E1E1E;
  color: #FFFFFF;
}
.para{
  background-color: #00052B;
  color: #5767E9;
}
</style>  
</head>
  <body>
    <header class="bg-dark text-light d-flex justify-content-between px-5 py-3">
      <a href="/">Covid-19 Tracing</a>
      <a href="/">Home</a>
      <a href="">About Us</a>
      <a href="">Submit Query</a>
      <a class="register" href="register">Register</a>
      <a class="login" href="login">Login</a>
    </header>
    <div class="section-one">
      <h1 class="mb-0 text-center title py-5">Covid - 19 Contact Tracing System</h1>
      <p class="mb-0 fs-4">Contact tracing is an important part of the clinical management of patients diagnosed with Sexually Transmissible Infections (STls). For most STls and blood-borne infections, primary care providers, such as general practitioners (GPs), are best placed to assist patients in undertaking contact tracing.</p>
      <h4 class="mb-0 py-3 text-center">Growth Factor of Daily New Cases</h4>
      <p class="mb-0 fs-4 para">
        Growth factor is the factor by which a quantity multiplies itself over time. The formula used is every day's new cases / new cases on the previous day. For example, a quantity growing by 7% every period (in this case daily) has a growth factor of 1.07.</p>
      <p class="mb-0 fs-4"> A growth factor above 1 indicates an increase, whereas one which remains between 0 and 1 it is a sign of decline, with the quantity eventually becoming zero, whereas a growth factor constantly above 1 could signal exponential growth</p>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-4">
            <div class="card" style="width: 100%;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJi-Mhu3J4sAIZUAZByP2PJ7EY94mhhLMqSA&usqp=CAU" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Active Cases</h5>
                <p class="card-text">672</p>
                <a href="#" class="btn btn-primary">Add Active Case</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card" style="width: 100%;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJi-Mhu3J4sAIZUAZByP2PJ7EY94mhhLMqSA&usqp=CAU" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Recovered</h5>
                <p class="card-text">100</p>
                <a href="#" class="btn btn-primary">Add Recovered Case</a>
              </div>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="card" style="width: 100%;">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdzBjdo--qTfuDFyHCAEKSvyUz8iKp2yAJUw&usqp=CAU" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">Death</h5>
                <p class="card-text">222</p>
                <a href="#" class="btn btn-primary">Add Dead Case</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p class="text-center bg-dark py-3 text-white">Contact Tracing Pvt Ltd</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>