<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Tracing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<style>
header a{
    text-decoration: none;
    color: white;
}
header a:hover{
    font-weight:bold;
}
.form{
    background-color: #503162;
    color: #F5EAF8;
}
.form-body{
    background-color: #333536;
}
.cursor-pointer{
    cursor: pointer;
}
.error{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
</style>  
</head>
  <body>
    <header class="bg-dark text-light d-flex justify-content-between px-5 py-3">
      <a href="/">Covid-19 Tracing</a>
      <a href="/">Home</a>
      <a href="about">About Us</a>
      <a href="contact">Submit Query</a>
      <a href="register">Register</a>
      <a href="login">Login</a>
    </header>
    <div class="container-fluid form-body vh-100 d-flex flex-column justify-content-center">
        <div class="row">
            <div class="col-xl-6 m-auto form">
              <p class="mb-0 text-center bg-warning text-danger fw-bold"><%=register%></p>
                    <h1 class="mb-0 text-center py-3">Registration</h1>
                    <% if (userAlreadyRegistered) { %>
                        <div id="userAlreadyRegisteredError" class="text-danger fw-bold text-center fs-4 mb-3">User already registered with this email!!!!!</div>
                      <% } %>
                    <form onsubmit="return validateForm()" action="/register" class="form-elements py-3 w-75 m-auto" method="post">
                        <div class="mb-3">
                            <input name="fname" type="text" class="form-control" placeholder="First Name" required>
          <p id="fnameError" class="text-danger"></p>

                        </div>
                        <div class="mb-3">
                            <input name="lname" type="text" class="form-control" placeholder="Last Name" required>
          <p id="lnameError" class="text-danger"></p>
                        </div>
                        <div class="mb-3">
                            <input name="mob_num" id="mob_num" type="number" class="form-control" placeholder="Mobile Number" required>
                            <% if (mobAlreadyRegistered) { %>
                                <div id="mobAlreadyRegisteredError" class="text-danger fw-bold">Mobile Number already registered</div>
                              <% } else { %>
                                <p id="mobNumError" class="error"></p>
                              <% } %>
                        </div>
                        <div class="mb-3">
                            <input name="email" id="email" type="email" class="form-control" placeholder="Email Address" required>
                            <p id="emailError" class="error"></p>
                        </div>
                        <div class="mb-3">
                            <input name="password" id="password" type="password" class="form-control" placeholder="Password" required>
                            <p id="passwordError" class="error"></p>
                        </div>
                        <div class="mb-3">
                            <input name="confirm_password" type="password" id="confirm_password" class="form-control" placeholder="Confirm Password" required>
                            <p id="confirmPasswordError" class="error"></p>
                        </div>
                        <div class="mb-3 text-center">
                            <input type="checkbox" name="terms" id="terms" value="Terms" required>
                            <label for="terms" class="cursor-pointer fs-5"><a target="_blank" href="terms">Terms and Conditions</a></label><br>
                            <p id="acceptTermsError" class="error"></p>
                        </div>
                        <div class="mb-3 w-50 m-auto">
                            <input type="submit" class="bg-dark text-white border-0 form-control" value="Register">
                        </div>
                    </form>
            </div>
        </div>
    </div>
    <footer>
      <p class="text-center bg-dark py-3 text-white">Contact Tracing Pvt Ltd</p>
    </footer>
       
    <script>
        function validateForm() {
          document.getElementById("fnameError").innerText = "";
          document.getElementById("lnameError").innerText = "";
          document.getElementById("mobNumError").innerText = "";
          document.getElementById("emailError").innerText = "";
          document.getElementById("passwordError").innerText = "";
          document.getElementById("confirmPasswordError").innerText = "";
          document.getElementById("acceptTermsError").innerText = "";
  
          var firstName = document.getElementsByName("fname")[0].value;
          var lastName = document.getElementsByName("lname")[0].value;
          var mobileNumber = document.getElementsByName("mob_num")[0].value;
          var email = document.getElementsByName("email")[0].value;
          var password = document.getElementsByName("password")[0].value;
          var confirmPassword = document.getElementsByName("confirm_password")[0].value;
          var acceptTerms = document.getElementById("terms").checked;
  
          var isValid = true;
  
          if (!firstName) {
            document.getElementById("fnameError").innerText = "First Name is required.";
            isValid = false;
          }
  
          if (!lastName) {
            document.getElementById("lnameError").innerText = "Last Name is required.";
            isValid = false;
          }
  
          if (!mobileNumber || isNaN(mobileNumber) || mobileNumber.length !== 10) {
            document.getElementById("mobNumError").innerText = "10 Digit Valid Mobile Number is required.";
            isValid = false;
          }
  
          var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
          if (!email.match(emailRegex)) {
            document.getElementById("emailError").innerText = "Please enter a valid email address.";
            isValid = false;
          }
  
          if (!password) {
            document.getElementById("passwordError").innerText = "Password is required.";
            isValid = false;
          } else if (password.length < 6) {
            document.getElementById("passwordError").innerText = "Password must be at least 6 characters long.";
            isValid = false;
          } else if (!isStrongPassword(password)) {
        document.getElementById("passwordError").innerText = "Password must be strong (include uppercase, lowercase, numbers, and special characters).";
        isValid = false;
          }
  
          if (password !== confirmPassword) {
            document.getElementById("confirmPasswordError").innerText = "Passwords do not match.";
            isValid = false;
          }
  
          if (!acceptTerms) {
            document.getElementById("terms").innerText = "Please accept the Terms and Conditions.";
            isValid = false;
          }
  
          return isValid;
        }
  
        function isStrongPassword(password) {
      var uppercaseRegex = /[A-Z]/;
      var lowercaseRegex = /[a-z]/;
      var numberRegex = /[0-9]/;
      var specialCharRegex = /[!@#$%^&*()_+[\]{};':"\\|,.<>/?]+/;
      
      return (
        uppercaseRegex.test(password) &&
        lowercaseRegex.test(password) &&
        numberRegex.test(password) &&
        specialCharRegex.test(password)
      );
    }
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>